root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[Vagrantfile]
indent_size = 2

[*.sls]
indent_size = 2

[*.c{,on}f]
indent_size = 8
indent_style = tab
