# NOTE: This file is managed by Salt.
# See the sshd_config(5) manpage for details

# Authentication
# ==============
PermitRootLogin without-password
# Using challange response auth causes problems with PAM
ChallengeResponseAuthentication no
# Enable the Pluggable Authentication Module interface
UsePAM yes

# User interaction
# ================
# Prevent printing the motd twice
PrintMotd no
# Don't disclose the exact version/patch-level
DebianBanner no
# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Misc
# ====
# Allow logins from hosts with broken reverse DNS entries
UseDNS no

# Enable the SFTP subsystem
Subsystem sftp /usr/lib/openssh/sftp-server
